.item {
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
  cursor: pointer;
}

.link {
  color: #fff;
  text-decoration: none;
}

.description {
  padding: 10px;
}